.MuiTypography-h6{
    margin: 0 0 0 73px;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    color: #232323;
    font-family: merel, sans-serif;
    height: 80px;
    font-weight: 900;
}
